In [1]:
pip install nltk

Collecting nltk
  Downloading nltk-3.8.1-py3-none-any.whl (1.5 MB)
     |████████████████████████████████| 1.5 MB 15 kB/s eta 0:00:011
Requirement already satisfied: tqdm in /home/aashi/.local/lib/python3.8/site-packages (from nltk) (4.65.0)
Requirement already satisfied: click in /usr/lib/python3/dist-packages (from nltk) (7.0)
Requirement already satisfied: joblib in /home/aashi/.local/lib/python3.8/site-packages (from nltk) (1.2.0)
Collecting regex>=2021.8.3
  Downloading regex-2023.5.5-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (771 kB)
     |████████████████████████████████| 771 kB 8.9 MB/s eta 0:00:01
Installing collected packages: regex, nltk
Successfully installed nltk-3.8.1 regex-2023.5.5
Note: you may need to restart the kernel to use updated packages.

In [2]:
import nltk

In [3]:
import pandas as pd
import csv

In [4]:
fake = pd.read_csv("Fake.csv")

In [5]:
true = pd.read_csv("True.csv")

In [6]:
true.head(10)

,title,text,subject,date
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017"
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017"
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017"
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017"
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017"
5,"White House, Congress prepare for talks on spe...","WEST PALM BEACH, Fla./WASHINGTON (Reuters) - T...",politicsNews,"December 29, 2017"
6,"Trump says Russia probe will be fair, but time...","WEST PALM BEACH, Fla (Reuters) - President Don...",politicsNews,"December 29, 2017"
7,Factbox: Trump on Twitter (Dec 29) - Approval ...,The following statements were posted to the ve...,politicsNews,"December 29, 2017"
8,Trump on Twitter (Dec 28) - Global Warming,The following statements were posted to the ve...,politicsNews,"December 29, 2017"
9,Alabama official to certify Senator-elect Jone...,WASHINGTON (Reuters) - Alabama Secretary of St...,politicsNews,"December 28, 2017"

In [7]:
len(true)

21417

In [8]:
fake['target']=0
true['target']=1

In [9]:
fake.head(10)

,title,text,subject,date,target
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017",0
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017",0
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017",0
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017",0
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017",0
5,Racist Alabama Cops Brutalize Black Boy While...,The number of cases of cops brutalizing and ki...,News,"December 25, 2017",0
6,"Fresh Off The Golf Course, Trump Lashes Out A...",Donald Trump spent a good portion of his day a...,News,"December 23, 2017",0
7,Trump Said Some INSANELY Racist Stuff Inside ...,In the wake of yet another court decision that...,News,"December 23, 2017",0
8,Former CIA Director Slams Trump Over UN Bully...,Many people have raised the alarm regarding th...,News,"December 22, 2017",0
9,WATCH: Brand-New Pro-Trump Ad Features So Muc...,Just when you might have thought we d get a br...,News,"December 21, 2017",0

In [10]:
data = pd.concat([fake,true],axis=0)

In [11]:
len(data)

44898

In [13]:
data=data.reset_index(drop=True)

In [14]:
data = data.drop(['title','subject','date'],axis=1)

In [15]:
data

                                                    text  target
0      Donald Trump just couldn t wish all Americans ...       0
1      House Intelligence Committee Chairman Devin Nu...       0
2      On Friday, it was revealed that former Milwauk...       0
3      On Christmas day, Donald Trump announced that ...       0
4      Pope Francis used his annual Christmas Day mes...       0
...                                                  ...     ...
44893  BRUSSELS (Reuters) - NATO allies on Tuesday we...       1
44894  LONDON (Reuters) - LexisNexis, a provider of l...       1
44895  MINSK (Reuters) - In the shadow of disused Sov...       1
44896  MOSCOW (Reuters) - Vatican Secretary of State ...       1
44897  JAKARTA (Reuters) - Indonesia will buy 11 Sukh...       1

[44898 rows x 2 columns]

In [16]:
from nltk.tokenize import word_tokenize

In [17]:
nltk.download('punkt')

[nltk_data] Downloading package punkt to /home/aashi/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

True

In [ ]:
data['text']=data['text'].apply(word_tokenize)

In [ ]:
data.head(10)

In [ ]:
from nltk.stem.snowball import SnowballStemmer
porter=SnowballStemmer("english")

In [ ]:
def stem_it(text):
  return [porter.stem(words) for words in text]

In [ ]:
data["text"]=data['text'].apply(stem_it)

In [ ]:
from nltk.corpus import stopwords

In [ ]:
def stop_it(text):
  dt = [words for words in text if(len(words)>2)]
  return dt

In [ ]:
data['text']=data['text'].apply(stop_it)

In [ ]:
pip install scikit-learn

In [ ]:
#pip install scikit-learn
#!pip install sklearn==1.1.3

In [ ]:
import scikit-learn as skylearn

In [ ]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(data['text'],data['target'],test_size=0.25)

In [ ]:
x_train

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [ ]:
tf = TfidfVectorizer(max_df=0.7)
tfidf_train= tf.fit_transform(x_train)

In [ ]:
from sklearn.linear_model import LogisticRegression
model = LogisticRegression(max_iter=900)
model.fit(tfidf_train,y_train)

In [ ]:
pred =model.predict(tfidf_test)

In [ ]:
pred